@charset "utf-8";
/* CSS Document */

body {
font-family:tahoma;
}

form.login {
	
	width: 340px;
    margin: 90px auto 30px;
    padding: 15px;
    position: center;
	overflow:auto;
    
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
	}
	

input.text{
	border:1px solid #CCC
	margin-left:10px;
	margin-right:auto;
	padding:3px;
	-moz-border-radius: 4px;
	margin:4px;
	}

#name{
	margin-left:5px;
	}

p{	
	width: 600px;
    margin: 90px auto 30px;
    padding: 15px;
    position: center;
	overflow:auto;
    
    background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
	}
	
input.submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fff6af;
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23) );
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	color:#333333;
	font-family:arial;
	font-size:13px;
	font-weight:bold;
	padding:3px 25px;
	text-decoration:none;
	text-shadow:1px 1px 0px #ffee66;
}
input.submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64) );
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background-color:#ffab23;
}
input.submit:active {
	position:relative;
	top:1px;
}